= content_for :page_title, "Update history"

.breadcrumbs{"data-module" => "track-click"}
  %ol
    %li
      = link_to "Components", "https://www.gov.uk/service-toolkit", target: :blank
    %li
      = link_to "GOV.UK Registers", root_path
    %li
      = link_to "Registers collection", root_path
    %li
      = link_to "#{prepare_register_name(params[:register])} register", "/#{params[:register]}?phase=#{@register_metadata[:phase]}"
    %li.active
      Register updates

%main#content{role:'main'}
  .grid-row
    .column-one-third
      %h1.heading-large Register updates
      %div{class: "js-filter-list", "aria-hidden" => "true"}
        %form.js-filter-form
          %fieldset
            .form-group
              %label{class: "form-label", for: "search"} Search for a record
              %input{name: "search", id: "search", class: "form-control"}

  .grid-row
    .column-full
      %ul.entries.js-filter-block
        = render partial: 'timeline_record', collection: @entries_with_items


= content_for :head do
  %script{src: "//code.jquery.com/jquery-3.2.1.min.js"}

= content_for :javascript do
  :javascript
    jQuery(function($) {
      GOVUK.filterListItems.init();
    });
