- content_for :page_title, 'Home'

.breadcrumbs{"data-module" => "track-click"}
  %ol
    %li
      = link_to "Service Toolkit", "https://www.gov.uk/service-toolkit", target: :blank
    %li
      Registers

%h1.heading-large Find a register

.grid-row
  .column-one-half
    %h3.heading-medium Beta
    %ul.browse-list
      - @beta_registers.each do |register|
        %li.browse-list__item
          = link_to prepare_register_name(register[0]), "#{register[0]}?phase=beta", class: 'browse-list__link'

  .column-one-half
    %h1.heading-medium Alpha

    %ul.browse-list
      - @alpha_registers.each do |register|
        %li.browse-list__item
          = link_to prepare_register_name(register[0]), "#{register[0]}?phase=alpha", class: 'browse-list__link'
